{% layout "layouts/base_site.liquid" %}

{% block body_content %}
  <section class="ui container">
    <h1 class="ui header">
      <a href="https://github.com/if1live/ayane" target="_blank">ayane</a>
    </h1>

    <img class="ui large image" src="https://raw.githubusercontent.com/if1live/ayane/main/document/ayane-pv.jpg" />

    {% for row in entries %}
      {% assign data = row.health %}
      {% assign tag = data.tag %}

      {% if tag == "error" %}
        <h2 class="ui red header">
          {{ row.label }}
          <small>error</small>
        </h2>
      {% else %}
        <h2 class="ui header">
          {{ row.label }}
          <small>{{ tag }}</small>
        </h2>
      {% endif %}

      <p>
        <span>{{ row.at | date: "%Y-%m-%dT%H:%M:%S.%LZ" }}</span>
      </p>

      {% if tag == "ok" %}
        <details>
          <summary>detail</summary>
          <pre>{{ data.value | json: 2 }}</pre>
        </details>
      {% elsif tag == "error" %}
        <details open>
          <summary>detail</summary>
          <pre>{{ data.reason | json: 2 }}</pre>
        </details>
      {% elsif tag == "ignore" %}
        <p>ignore</p>
      {% endif %}
    {% endfor %}

    <hr/>

    <button hx-post="/touch" hx-target="#result-touch">
      touch
    </button>
    <pre id="result-touch"></pre>

    <button hx-delete="/delete" hx-target="#result-delete">
      delete
    </button>
    <pre id="result-delete"></pre>
  </section>
{% endblock %}